body {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.waterfall-header {
    font-size: 1.8rem;
    color: #4F4F4F;
    font-weight: 250;
    text-anchor: middle;
    left: Calc(50% - 200px);
    top: 30px;
    position: absolute;
}

.subtitle {
    font-size: 1.4rem;
    color: #AAAAAA;
    font-weight: 250;
    left: Calc(50% - 90px);
    top: 70px;
    text-anchor: middle;
    position: absolute;
}

.center {
    margin:auto;
    width:900px;
}

.tooltip {

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

.yaxis {
    /*stroke: black;*/
    stroke-width: 1.0;
    fill: black;
    shape-rendering: crispEdges;
    font-size: 12px;
}

.tooltip {
    position: absolute;
    width: 160px;
    height: 20px;
    pointer-events: none;
    font-size: 10px;
}

/*.yaxis line {*/
    /*stroke-width: 1.0;*/
    /*stroke: black;*/
/*}*/

.xaxis {
    /*stroke: black;*/
    fill: black;
    shape-rendering: crispEdges;
    font-size: 12px;
}

.xaxis line {
    stroke-width: 1.0;
    stroke: black;
}

.bigtext {
    fill: black;
    font-family: 'Open Sans', sans-serif;
}

.graphbutton {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}